.mapContainer {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
}

.footer {
  text-align: center;
  padding: 6px;
  font-size: 13px;
  color: #444;
}
