.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999;
}

.modal {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  width: 95%;
  max-width: 400px;
  max-height: 85vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 99999;
}
.saveBtn {
  position: absolute;
  bottom: 40px;
 left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 99999;
  background-color: var(--color-red);
  padding: 10px 20px;
  color: var(--color-white);
  border-radius: 5px;
}
